@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeue.eot');
    src: url('../font/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('../font/HelveticaNeue.woff2') format('woff2'),
        url('../font/HelveticaNeue.woff') format('woff'),
        url('../font/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFuturaBold.eot');
    src: url('../font/SFUFuturaBold.eot?#iefix') format('embedded-opentype'),
        url('../font/SFUFuturaBold.woff2') format('woff2'),
        url('../font/SFUFuturaBold.woff') format('woff'),
        url('../font/SFUFuturaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


html,body {
    background-color: #e9ebed;
    font-family: 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
}

.clear-fix {
    zoom: 1;
}

.container {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.l-box {
    padding: 0 15px;
}

#cover {
    height: 340px;
    position: relative;
}

.cover-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cover-wrap .cover-photo {
    height: 100%;
    position: absolute;
    left: 0;
}

.menu-wrap div {
    background-color: #fff;
}

.menu-wrap .pure-menu {
    padding: 19px 0;
    margin-left: -15px;
}

.menu-wrap .pure-menu-link {
    color: #57585b;
}

.menu-wrap .pure-menu-item:first-child {
    margin-right: 10px;
}

.menu-wrap .pure-menu-item:not(:first-child) {
    border-left: 2px solid #ebebec;
}

#profile-menu {
    position: relative;
}

#profile-menu .avatar {
    width: 208px;
    height: 208px;
    position: absolute;
    left: 40px;
    bottom: 17px;
    padding: 2px;
    border: 1px solid #b5b7b8;
}

#profile-menu .avatar img {
    width: 100%;
    height: 100%;
}

#sidebar {
    /*width: 326px;*/
}

#post {
    /*width: 578px;*/
    margin-left: -8px;
}

/*Box*/
.box {
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    border-top: 2px solid #d0d2d2;
    margin-bottom: 15px;
}

.box .head {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 5px;
}

.icon {
    background-image: url(../img/icon-sprite.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.icon.icon-intro {
    width: 26px;
    height: 24px;
    background-position: -2px -3px;
    float: left;
    margin-right: 5px;
    line-height: 24px;
}

.icon.icon-photo {
    width: 26px;
    height: 24px;
    background-position: -36px -3px;
    float: left;
    margin-right: 5px;
    line-height: 24px;
}

.icon.icon-friend {
    width: 26px;
    height: 28px;
    background-position: -66px -2px;
    float: left;
    margin-right: 5px;
    line-height: 24px;
}

.icon.icon-bag {
    width: 12px;
    height: 12px;
    background-position: -26px -180px;
}

.icon.icon-work {
    width: 18px;
    height: 17px;
    background-position: -6px -30px;
}

.icon.icon-relationship {
    width: 18px;
    height: 17px;
    background-position: -6px -47px;
}

.icon.icon-home {
    width: 18px;
    height: 17px;
    background-position: -6px -64px;
}

.icon.icon-location {
    width: 18px;
    height: 17px;
    background-position: -6px -81px;
}

.icon.icon-follow {
    width: 18px;
    height: 17px;
    background-position: -6px -98px;
}

.icon.icon-checked {
    width: 18px;
    height: 13px;
    background-position: -28px -82px;
}


.box .head .text {
    line-height: 24px;
    font-weight: bold;
}

.inline-text-w-icon {
    padding-left: 11px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.inline-text-w-icon .icon {
    float: left;
    line-height: 17px;
    margin-right: 5px;
    margin-left: 5px;
}

.inline-text-w-icon .text {
    line-height: 17px;
    font-size: 10pt;
    font-family: 'HelveticaNeue';
}

.inline-text-w-icon .text a {
    text-decoration: none;
    color: #0072bc;
}

/*Profile photo*/

.post-box {
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.profile-photo-wrap {
    margin: 0;
    padding: 0;
}

.profile-photo-wrap .profile-photo {
    overflow: hidden;
    margin: 0;
    padding: 8px 8px;
}

.profile-photo-wrap li {
    float: left;
    list-style-type: none;
}

.profile-photo-wrap li a {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
}

.profile-photo {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.profile-photo a {
    width: 101px;
    height: 101px;
    text-decoration: none;
}

.profile-photo a img {
    min-height: 100%;
    height: 100%;
    width: auto;
}

.profile-photo a span.profile-name {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.profile-avatar-wrap a.avatar {
    display: block;
    height: 53px;
    width: 53px;
    overflow: hidden;
    float: left;
    margin-right: 5px;
}

.profile-avatar-wrap a img {
    max-width: 100%;
    max-height: 100%;
}

.profile-name-wrap {
    overflow: hidden;
    padding: 5px 0px;
    min-height: 53px;
}

.profile-name-wrap .title-wrap {
    margin-bottom: 5px;
}

.profile-name-wrap .title-wrap span {
    color: #90949c;
}

.profile-name-wrap .title-wrap .emoji {
    height: 15px;
    width: 15px;
}

.profile-name-wrap a.profile-name {
    text-decoration: none;
    color: #365899;
    font-weight: bold;
    /*display: block;*/
}

.profile-name-wrap a.checked {
    color: #365899;
    font-size: 14px;
    text-decoration: none;
}

.profile-name-wrap a.time-ago {
    display: block;
    font-size: 12px;
    color: #90949c;
    text-decoration: none;
}

.post-box .post-text {
    padding: 0 12px;
    margin-bottom: 5px;
}

.post-box .post-text p {
    margin: 0;
}

.post-box .post-photo {
    padding: 0 2px;
}

.post-box .post-photo img {
    max-width: 100%;
}

.post-footer {
    background-color: #f0f1f3;
    padding: 10px 5px;
}

.post-button-wrap {
    padding-left: 5px;
    padding-right: 5px;
}

.post-button-wrap a.btn {
    font-size: 12px;
    color: #7f7f7f;
    text-decoration: none;
}

.icon.icon-like {
    width: 17px;
    height: 17px;
    background-position: -27px -29px;
}

.icon.icon-comment {
    width: 17px;
    height: 17px;
    background-position: -27px -48px;
}

.icon.icon-share {
    width: 17px;
    height: 17px;
    background-position: -27px -61px;
}

.post-button-wrap a {
    display: inline-block;
    padding: 4px 4px 4px 0;
    position: relative;
    margin-right: 30px;
    font-weight: bold;
}

.post-button-wrap a::before {
    content: '';
    display: inline-block;
    height: 14px;
    margin: 0 6px 0 0;
    width: 14px;
}

.post-button-wrap a::after {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.post-button-wrap a.btn-like::after {
    bottom: -5px;
    left: -10px;
    right: -20px;
    top: -5px;
}

.post-button-wrap a.btn-like::before {
    background-image: url(../img/icon-sprite.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -27px -29px;
}

.post-button-wrap a.btn-comment::before {
    background-image: url(../img/icon-sprite.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -27px -48px;
}

.post-button-wrap a.btn-share::before {
    background-image: url(../img/icon-sprite.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -27px -61px;
}

.post-button-wrap a.btn-comment::before {
    margin-bottom: -2px;
}

.special-post {
    background-color: transparent;
    border: none;
    text-align: center;
    margin: 0 -122px;
    margin-top: -76px;
    z-index: 0;
    text-align: center;
}

.special-post h2 {
    font-family: 'SFU Futura';
    color: #395b9b;
}

.special-post img {
    width: 100%;
}

.special-post .btn-share {
    display: inline-block;
    width: 300px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
}

.button-small {
    font-size: 85%;
}

.actions {
    position: absolute;
    right: 0;
    top: -50px;
    width: 364px;
}

.aaction-wrap {
    float: right;
}

.btn-add-friend {
    float: left;
    margin-right: 15px;
}

.post-photo {
    position: relative;
}

.mask-profile-name-1 {
    position: absolute;
    top: 210px;
    left: 230px;
    color: #fff;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    transform: rotate(-30deg);
    width: 120px;
    text-align: center;
    font-size: 13px;
}

.mask-profile-name-2 {
    position: absolute;
    top: 165px;
    left: 191px;
    color: #000;
    -webkit-transform: rotate(38deg);
    -moz-transform: rotate(38deg);
    transform: rotate(38deg);
    width: 87px;
    text-align: center;
    font-size: 13px;
}

.mask-avatar-profile {
    position: absolute;
    top: 80px;
    left: 226px;
    background-color: #000;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
    width: 88px;
    height: 114px;
}