@font-face {
    font-family: 'DIN';
    src: url('../font/DIN-Medium.eot');
    src: url('../font/DIN-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/DIN-Medium.woff') format('woff'),
        url('../font/DIN-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html,body {
    font-family: 'DINRoundOT', sans-serif;
}

.container {
    background: url(../img/bg-page.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

#label-holder-path {
    display: none;
}

/*.slider {
    margin-top: 160px;
    overflow: hidden;
    height: 100%;
}*/

.slider {
  top: 195px;
  width: 1216px;
  height: 440px;
  -webkit-transform: scale(1);
  -moz-transform:    scale(1);
  -ms-transform:     scale(1);
  -o-transform:      scale(1);
  transform: scale(1);
  transform-origin: top center;
  position: relative;
  left: 50%;
  margin-left: -608px;
  float: left;
  overflow: hidden;
  padding-top: 20px;
}

.card {
    position: absolute;
    cursor: pointer;
}

.card.card-left,
.card.card-center,
.card.card-right {
    display: block;
}

.card.card-left {
    /*top: 347px;
    left: 5px;*/
}

.card.card-center {
    /*left: 380px;
    -moz-transform: initial;
    zoom: normal;*/
}

.card.card-right {
    /*right: 150px;
    top: 300px;*/
}

.card.slick-center {
    -moz-transform: initial;
    zoom: normal;
}

.card .label-holder svg {
    position: absolute;
}

.card.pink .label-holder {
    width: 334px;
    height: 286px;
}

.card.orange .label-holder {
    width: 334px;
    height: 278px;
}

.card.cyan .label-holder {
    width: 334px;
    height: 286px;
}

.card.pink .label-holder {
    background-image: url(../img/label-holder-pink.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card.orange .label-holder {
    background-image: url(../img/label-holder-orange_03.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    float: right;
}

.card.slick-center:first-child .label-holder {
    float: left;
}

.card.cyan .label-holder {
    background-image: url(../img/label-holder-cyan_03.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.label-holder .clip-me {
    clip-path: url(#layer1);
}

.card .label {
    width: 278px;
    height: 162px;
    position: absolute;
}

.card.pink .label {
    background-image: url(../img/label-pink.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 175px;
    top: 170px; 
}

.card.orange .label {
    background-image: url(../img/label-orange.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    right: -115px;
    bottom: -45px;
}

.card.cyan .label {
    background-image: url(../img/label-cyan.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    right: -110px;
    bottom: -50px;
}

.card .label.day1 {
    background-image: url(../img/days/day1.png);
}

.card .label.day7 {
    background-image: url(../img/days/day7.png);
}

.card .label.day77 {
    background-image: url(../img/days/day77.png);
}

.card .label.day100 {
    background-image: url(../img/days/day100.png);
}

.card .label.day125 {
    background-image: url(../img/days/day125.png);
}

.card .label.day138 {
    background-image: url(../img/days/day138.png);
}

.card .label .mood {
    text-transform: uppercase;
    color: #204a97;
    position: absolute;
    left: 113px;
    top: 20px;
    padding: 0;
    margin: 0;
    height: 55px;
    width: 160px;
    display: table;
    font-size: 15px;
    text-align: left;
}

.card .label .mood p {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.card .label .quote {
    position: absolute;
    margin-top: 85px;
    padding: 0 30px;
    font-size: 13px;
    color: #204a97;
    padding-left: 16px;
}

.card .label .quote a {
    text-decoration: none;
    color: #f8429d;
}

.card .label .quote a i {
    font-size: 8px;
}

.card .label .day {
    color: #fff;
    display: block;
    position: absolute;
    width: 90px;
    height: 90px;
    left: 16px;
    top: 0;
    text-align: center;
}

.card .label .day1 {
    font-size: 48px;
    line-height: 90px;
}

.card .label .day2 {
    font-size: 34px;
    line-height: 110px;
}

.card .label .day3 {
    font-size: 34px;
    line-height: 104px;
}

.card .label .origami {
    position: absolute;
    z-index: 1;
}

.card.orange .label .origami {
    top: -178px;
    right: 130px;
}

.card.pink .label .origami {
    right: 30px;
    top: -165px;
}

.card.cyan .label .origami {
    right: 17px;
    top: -160px;
}

.card.pink.slick-center {
    
}

.card.orange.slick-center {
    margin-left: 0;
}

.card.cyan.slick-center {
    margin-left: 125px;
    margin-right: 0;
}

.slider-button {
    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -40px;
}

.btn-slide {
    width: 40px;
    height: 61px;
    display: inline-block;
}

i.play {
    width: 31px;
    height: 36px;
    background-image: url(../img/triagle_03.png);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -15px;
}

.clip-me {
    position: relative;
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    clear: both;
}

/*Animation*/
@keyframes left-to-center {
  0%, 100% {
    left: 380px;
    -moz-transform: initial;
    zoom: normal;
  }
}

@keyframes center-to-right {
  0%, 100% {
    right: 150px;
    top: 300px;
  }
}