<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="d-flex justify-content-center align-items-center">
      <div id="left">
          <h1>Thanh Dang</h1>
          <h4>Web Developer</h4>
          <ul id="social">
              <li>
                  <a target="_blank" href="https://github.com/dasani08/"
                      ><img src="/assets/img/Octocat.png"
                  /></a>
              </li>
              <li>
                  <a
                      target="_blank"
                      href="https://www.linkedin.com/in/thanh-dc/"
                      ><img src="/assets/img/LI-In-Bug.png"
                  /></a>
              </li>
          </ul>
          <button type="button" class="btn btn-outline-light">
              View my works
          </button>
      </div>
      <div id="right">
          <img src="/assets/img/0.jpeg" />
      </div>
    </header>
  </body>
</html>